
@{
	ViewBag.Title = "Welcome";
}
<div>
	

	@*<div class="jumbotron">

			<h1>Welcome</h1>
		</div>*@
	
	<div class="row">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4 welcome">
			<h1>Welcome</h1>
			<h2>Inventory Management System</h2><br><br><br><br>
			<h5>Please click the button below to view inventory</h5>

			<p><a class="btn btn-default" href="http://localhost:53033/Inventory_List/Index">View</a></p>
		</div>
		<div class="col-md-4">
			
		</div>
		<br><br><br><br><br>
	</div>
</div>
