@model WebApp1.Models.User

@{
	ViewBag.Title = "Welcome";
}

<h2>Inventory Management System</h2>

<div class="jumbotron">
	
		<h1>Welcome</h1>
</div>

<div class="row">
		<div class="col-md-4">
			<h5>Please click the button below to view inventory</h5>
			
			<p><a class="btn btn-default" href="http://localhost:53033/Inventory_List/Index">View</a></p>
		</div>
		
	</div>